<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAC Buddy: Welcome!</title>
    <div>
        <img src="static/images/logo.png" alt="BAC Buddy Logo" width="200" height="200">
    </div>
</head>
<body>
Welcome to BAC Buddy! Our app is designed to provide you with personalized drink recommendations based on your desired
level of intoxication and your planned driving time. With our app, you can make informed decisions about your drinking
and enjoy your evening responsibly. Our priority is your safety and well-being, so please use our app responsibly and
always remember to never drink and drive.
<br>
<a href="{{ url_for("account_login") }}" class="login-link">Let's start!</a>
<br>
<p>image created with <a href="https://www.shopify.com/tools/logo-maker">free online tool</a></p>
</body>
</html>
